body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #4caf30;
    color: white;
    padding: 20px;
}

main {
    margin: 20px;
}

#game, #scoreboard {
    margin-top: 20px;
}